body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
header h1 {
  text-align: center;
}
.navigation {
  display: inline-block;
}
.periodictable {
  min-width: 1620px;
  margin-left: 35px;
  margin-top: 35px;
  margin-bottom: 5px;
}
.elementrow {
  display: inline-block;
  max-height: 90px;
}
.box {
  position: relative;
  width: 90px;
  height: 90px;
  text-align: center;
  background-color: lightgrey;
  display: inline-block;
  margin: -2px;
  margin-bottom: -3px;
  border: solid 2px #000000;
  overflow: hidden;
}
.box-invisible {
  border: none;
  background: none;
}
.box-lg-offset-16 {
  margin-left: 1436px;
}
.box-lg-offset-10 {
  margin-left: 897px;
}
.box-lg-offset-5 {
  margin-left: 446px;
}
.box-lg-offset-2 {
  margin-left: 178px;
}
.box-lg-offset-1 {
  margin-left: 89px;
}
.box-lg-width-10 {
  width: 900px;
  margin-right: -3px;
}
.round-tl {
  border-top-left-radius: 10px;
}
.round-tr {
  border-top-right-radius: 10px;
}
.round-bl {
  border-bottom-left-radius: 10px;
}
.round-br {
  border-bottom-right-radius: 10px;
}
.elemtext {
  display: block;
  margin: 0;
  line-height: 60%;
}
.elemnum {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
}
.elemname {
  margin-top: 40%;
  display: inline-block;
}
.elemsymbol {
  margin-top: 0;
  display: block;
}
.elemlearn {
  display: inline-block;
}
.elemanswer {
  margin-top: 20%;
  width: 80%;
  font-size: 11.5px;
}
.defaultview,
.learnview {
  height: 100%;
}
.learnview {
  margin-top: 20%;
  font-size: 11.5px;
}
.correct {
  color: green;
}
.incorrect {
  color: red;
}
.small-margin {
  margin-top: -8px;
}
.group_alkalinemetals {
  background-color: #e29ed9;
}
.group_alkaliearthmetals {
  background-color: #92c6ff;
}
.group_transitionmetals {
  background-color: #fbf190;
}
.group_metaloids {
  background-color: #cb970f;
}
.group_othermetals {
  background-color: #cdeb87;
}
.group_othernonmetals {
  background-color: #fc9c5f;
}
.group_halogens {
  background-color: #eadda9;
}
.group_noblegases {
  background-color: #e4e6fb;
}
.group_Lanthanidesetc {
  background-color: #f8eae7;
}
.group_white {
  background-color: #ffffff;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}
