body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
header h1{
	text-align: center;
}
@boxSizeLarge: 90px;
@boxRoundRadius: 10px;
@boxBorder: solid 2px black;

.navigation {
	display: inline-block;
}

.periodictable {
	min-width: @boxSizeLarge * 18;
	margin-left: 35px;
	margin-top: 35px;
	margin-bottom: 5px;
}

.elementrow {
	display: inline-block;
	max-height: @boxSizeLarge;
}

// margin values required to keep the periodic elements as is
.box {
	position: relative;
	width: @boxSizeLarge;
	height: @boxSizeLarge;
	text-align: center;
	background-color: lightgrey;
	display: inline-block;
	margin: -2px;
	margin-bottom: -3px;
	border: @boxBorder;
	overflow: hidden;
}
.box-invisible {
	border: none;
	background: none;
}
// display inline block is causing some weird margin stuff, which had
// resulted in manual adjustments to keep the periodic table in alignment
.box-lg-offset-16 {
	margin-left: @boxSizeLarge * 16 - 4;
}
.box-lg-offset-10 {
	margin-left: @boxSizeLarge * 10 - 3;
}
.box-lg-offset-5 {
	margin-left: @boxSizeLarge * 5 - 4;
}
.box-lg-offset-2 {
	margin-left: @boxSizeLarge * 2 - 2;
}
.box-lg-offset-1 {
	margin-left: @boxSizeLarge * 1 - 1;
}

.box-lg-width-10 {
	width: @boxSizeLarge * 10;
	margin-right: -3px;
}

.round-tl {
	border-top-left-radius: @boxRoundRadius; 
}
.round-tr {
	border-top-right-radius: @boxRoundRadius; 
}
.round-bl {
	border-bottom-left-radius: @boxRoundRadius; 
}
.round-br {
	border-bottom-right-radius: @boxRoundRadius; 
}


.elemtext {
	display: block;
	margin: 0;
	line-height: 60%;
}

.elemnum {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
}

.elemname {
	margin-top: 40%;
	display: inline-block;
}
.elemsymbol {
	margin-top: 0;
	display: block;
}
.elemlearn {
	display: inline-block;
}

.elemanswer {
	margin-top: 20%;
	width: 80%;
	font-size: 11.5px;
}

.defaultview, .learnview {
	height: 100%;
}

.learnview {
	margin-top: 20%;	
	font-size: 11.5px;
}

.correct {
	color: green;
}
.incorrect {
	color: red;
}

.small-margin {
	margin-top: -8px;
}

// Element groups
.group_alkalinemetals {
	background-color:#e29ed9;
}
.group_alkaliearthmetals {
	background-color:#92c6ff;
}
.group_transitionmetals {
	background-color:#fbf190;
}
.group_metaloids {
	background-color:#cb970f;
}
.group_othermetals {
	background-color:#cdeb87;
}
.group_othernonmetals {
	background-color:#fc9c5f;
}
.group_halogens {
	background-color:#eadda9;
}
.group_noblegases {
	background-color:#e4e6fb;
}
.group_Lanthanidesetc {
	background-color:#f8eae7;
}
.group_white {
	background-color:#ffffff;
}


/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
	text-align: center;
}